{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 4 versions"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types"
  ]
}
