{
  "presets": [
    "react",
    "es2016",
    "es2017",
    ["env", {
      "targets": {
        "browsers": ["last 4 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    "transform-flow-strip-types"
  ]
}
