
root = true

[{*.rb,*.erb,Gemfile,*.css,*.scss,*.js}]
indent_style = space
indent_size = 2
insert_final_newline = true

[source/post/*.md]
indent_style = space
indent_size = 4
insert_final_newline = true
