html, body {
  color: $base-dark;
  background-color: $base-light;
  font-family: Merriweather, Georgia, serif;
}

a {
  color: $base-primary;
  text-decoration: none;
  box-shadow: none;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  &__link {
    font-family: Montserrat, sans-serif;
    transition: color .1s;
    color: $base-ex-dark;

    &:hover {
      color: $base-accent;
    }
  }
}
