.markdown {
  $margin-item: .8rem;

  h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: $font-size-large;

    &::before {
      display: inline-block;
      margin-right: 5px;
      content: "\0023"; // #
      color: $base-primary;
    }
  }
  h3 {
    font-size: $font-size-large - 8px;
  }
  h4 {
    font-size: $font-size-normal;
  }
  h5 {
    font-size: $font-size-normal;
  }
  h6 {
    font-size: $font-size-normal;
  }
  hr {
    margin: 3em 0;
    background-color: $base-mellow;
  }
  p {
    margin-bottom: $margin-item;
    line-height: 1.4rem;
  }
  img {
    max-width: 100%;
    height: auto;
    background-color: $base-light;
    font-size: 0;
    border: 0;
    outline: 0;
  }
  strong {
    background: linear-gradient(transparent 60%, $base-accent 60%);
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th, td {
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid $devider-color;
    }
  }
  pre {
    max-width: 100%;
    overflow: scroll;
  }
  pre.highlight {
    margin-bottom: $margin-item;
    padding: 10px;

    code {
      display: inherit;
      padding: 0;
      background-color: transparent;
      font-family: 'Source Code Pro', monospace;
      font-weight: normal;
    }
  }
  code {
    display: inline-block;
    padding: 1px 4px;
    border-radius: 2px;
    background-color: $base-dark;
    color: $base-light;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    line-height: 1.2rem;
  }
  ul {
    margin-bottom: $margin-item;
    padding: 0;

    li {
      margin: 0;
      list-style-type: none;
      line-height: 2.4rem;

      ul {
        margin-top: 0;
        margin-bottom: 0;

        li {
          margin-left: 1.5em;
        }
      }

      &::before {
        display: inline-block;
        margin-right: .5rem;
        width: 1em;
        height: 1em;
        content: "";
        border-radius: 1em;
        background-color: $base-accent;
      }
    }
  }
  .markdownIt-TOC {
    li::before {
      display: none;
    }

    & > li > ul {
      margin-left: 0;
    }
    & > li > ul > li {
      line-height: 1.8rem;
      list-style-type: decimal;
      padding-left: .5rem;
      margin-left: 2rem;
    }
  }
  q {
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
  blockquote {
    position: relative;
    margin: 0;
    padding: 5px 0 5px 20px;
    color: $base-mellow;
    font-size: $font-size-normal;
    font-style: italic;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline;
      color: $base-mellow;
      content: "\00201c";
      font-weight: bold;
      font-size: 20px;
    }

    p {
      margin: 0;
    }
  }

  /**
   * From wordpress
   */
  // Broken link checker
  .removed_link {
    text-decoration: line-through;
  }
  // foot note
}
