.pagination {
  margin-top: 50px;
  padding: 0;
  text-align: center;
  font-size: 0;

  li {
    display: inline-block;
    list-style-type: none;
  }
  &__link {
    $size: 40px;

    display: inline-block;
    margin: 0 5px;
    width: $size;
    height: $size;
    color: $base-light;
    background-color: $base-primary;
    text-align: center;
    font-size: 25px;

    i {
      line-height: $size;
    }
  }
  &__stat {
    padding: 0 20px;
    font-size: $font-size-normal;
  }
}
