@import "./post";
@import "./card";

.post {
  $padding-vertical: 20px;
  $padding-horizontal: 20px;

  &__header {
    padding: $padding-vertical $padding-horizontal;
    background-color: rgba($base-dark, .6);

    &__wrapper {
      color: $base-light;
      background: $base-dark;
    }
  }
  &__content {
    &--summary {
      font-size: $font-size-normal;
    }
  }
}

.post-card {
  margin-top: 30px;

  .card__header, .card__footer {
    padding: 0;
  }

  &--first {
    margin-top: 0;
  }

  &__readmore {
    $padding: 20px;

    position: relative;
    display: block;
    width: 100%;
    padding: $padding;

    i {
      position: absolute;
      display: inline-block;
      right: $padding;
    }
  }
}
