.sidebar {
  h2 {
    margin: 0;
  }

  .card {
    margin-bottom: 30px;
  }

  .summary__title {
    $margin: 20px;

    margin-top: $margin;
    & + .post__tags {
      margin-top: $margin;
    }
  }

  .post__tags {
    margin-top: 0;

    .post__tags__tag {
      color: $base-dark;
      border-color: $base-dark;

      &:hover {
        color: $base-light;
        background-color: $base-dark;
      }
    }
  }

  .avatar {
    width: 100%;
  }
  .bio {
    font-size: $font-size-normal;
  }

  .social-accounts {
    margin: 0;
    padding: 0;

    &__item {
      $size: 22px;
      list-style-type: none;
      font-size: $font-size-normal;

      a {
        font-size: $size;
      }

      &--twitter {
        .fa {
          color: #00aced;
        }
      }
      &--facebook {
        .fa {
          color: #3b5998;
        }
      }
      &--github {
        .fa {
          color: #333;
        }
      }
      &--qiita {
        // http://qiita.com/hkusu/items/fda8d8178dd693f95f3c
        a {
          font-size: $size / 2;
        }
        .fa-stack {
          vertical-align: bottom;
          color: rgb(89, 187, 12);
        }
      }
    }
  }
}
