// http://nipponcolors.com
$base-ex-light: #FFFFFB; // 胡粉
$base-light: #FCFAF2;    // 白練
$base-mellow: #787D7B;   // 素鼠
$base-dark: #434343;     // 消炭
$base-ex-dark: #1C1C1C;  // 墨
$base-primary: #CB4042;  // 赤紅
$base-accent: #F7C242;   // 花葉

$devider-color: lighten($base-mellow, 50%);

$font-size-ex-large: 40px;
$font-size-large: 28px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-ex-small: 10px;

// Bootstrap
$grid-gutter-width-base: 10px;
$enable-rounded: false;
$breadcrumb-bg: transparent;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$input-bg: transparent;
$input-border-color: transparent;
$input-group-addon-bg: transparent;

// Mixins
@mixin textlist () {
  margin-bottom: 0;
  padding: 0;

  & li {
    display: inline-block;
    margin-bottom: 0;
    list-style-type: none;
    line-height: 1.6em;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
