.card {
  $padding-vertical: 20px;
  $padding-horizontal: 20px;
  $devider-color: lighten($base-mellow, 50%);

  background-color: $base-ex-light;
  box-shadow: 0px 0px 4px lighten($base-dark, 50%);

  &__header {
    padding: $padding-vertical $padding-horizontal;
  }

  &__body {
    padding: $padding-vertical $padding-horizontal;
  }

  &__footer {
    padding: $padding-vertical $padding-horizontal;
  }

  &__header + &__body,
  &__body + &__footer {
    border-top: 1px solid lighten($base-mellow, 50%);
  }
}
