// http://nipponcolors.com
$base-ex-light: #FFFFFB; // 胡粉
$base-light: #FCFAF2;    // 白練
$base-mellow: #787D7B;   // 素鼠
$base-dark: #434343;     // 消炭
$base-ex-dark: #1C1C1C;  // 墨
$base-primary: #CB4042;  // 赤紅
$base-accent: #F7C242;   // 花葉

$font-size-ex-large: 40px;
$font-size-large: 28px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-ex-small: 10px;
