<% content_for :body_opened do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=1434873820060880";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<% end %>

<div
  class="fb-like"
  data-href="<%= URI.escape(config[:meta][:siteurl] + post.url) %>"
  data-layout="button_count"
  data-action="like"
  data-size="small"
  data-show-faces="false"
  data-share="false"></div>
