<% content_for :body_opened do %>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%= config[:meta][:facebook_app_id] %>',
        xfbml      : true,
        version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
<% end %>

<div
  class="fb-like"
  data-href="<%= escape_html(config[:meta][:siteurl] + post.url) %>"
  data-layout="button_count"
  data-action="like"
  data-size="small"
  data-show-faces="false"
  data-share="false"></div>
