<% content_for :scripts do %>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async defer></script>
<% end %>

<div
  class="line-it-button"
  data-lang="ja"
  data-type="share-a"
  data-url="<%= escape_html(config[:meta][:siteurl] + post.url) %>"
  style="display: none;"></div>
