<article class="post post-card <%= 'post-card--first' if index === 0 %>">
  <div class="card">
    <header class="card__header">
      <%= partial 'partials/article/header', locals: { article: article } %>
    </header>
    <section class="card__body">
      <div class="post__content markdown">
        <%= article.summary %>
      </div>
    </section>
    <footer class="card__footer card__footer--nopad">
      <a href="<%= article.url %>" class="post-card__readmore">
        Continue Reading...
        <i class="fa fa-chevron-right"></i>
      </a>
    </footer>
  </div>
</article>
