<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <nav class="navbar navbar-toggleable-md">
        <a href="/" class="navbar-brand title__link">
          <h1>
            <%= config[:meta][:sitename] %>
          </h1>
        </a>

        <div class="collapse navbar-collapse">
          <div id="search" class="ml-auto">
            <form class="form-inline">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-search"></i>
                </div>
                <input class="form-control" type="text" placeholder="Search">
              </div>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
