<aside class="share">
  <ul class="share__list">
    <li class="share__list__item">
      <%= partial 'partials/share/twitter', locals: { post: current_resource } %>
    </li>
    <li class="share__list__item">
      <%= partial 'partials/share/facebook', locals: { post: current_resource } %>
    </li>
  </ul>
</aside>
