.ais-InstantSearch__root {
}

.ais-SearchBox-form {
  margin: 0;
}

.ais-SearchBox {
  flex: 1;
}
.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none;
}

.ais-Panel {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 0;
  width: 500px;
  background-color: var(--leko-background);
  box-shadow: 0px 4px 8px var(--leko-background-accent);
}
.ais-Panel-header,
.ais-Panel-footer {
  padding: 8px;
}
.ais-Panel-header {
  border-bottom: 1px solid var(--leko-background-accent);
}
.ais-Panel-body {
  max-height: 310px;
  overflow-y: scroll;
}
.ais-Panel-footer {
  border-top: 1px solid var(--leko-background-accent);
  padding-bottom: 0;
}

ul.ais-Hits-list {
  margin: 0;
}
li.ais-Hits-item {
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #eee;
}
li.ais-Hits-item:last-of-type {
  border-bottom: none;
}

.ais-PoweredBy {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.ais-PoweredBy-text {
  margin-right: 8px;
}

[data-theme='dark'] .ais-PoweredBy path[fill='#182359'] {
  fill: #ffffff;
}

.OnSiteSearch__input {
  display: flex;
  flex-direction: row;
  position: relative;
}
.OnSiteSearch__input__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
}
.OnSiteSearch__input input {
  flex: 1;
  box-sizing: border-box;
  padding: 8px 0;
  padding-left: 40px;
  outline-offset: 0;
  border: none;
  outline: none;
  border-radius: 2px;
  color: var(--leko-foreground);
  background-color: var(--leko-background-accent);
}
.OnSiteSearch__input input::placeholder {
  color: var(--leko-foreground-dimmed);
}

.OnSiteSearchHitList__root {
  position: relative;
}

.OnSiteSearchHit__root a {
  display: block;
  padding: 8px;
  cursor: pointer;
}
.OnSiteSearchHit__root a:hover {
  background-color: var(--leko-background-accent);
}
.OnSiteSearchHit__headline {
  margin-bottom: 8px;
}
.OnSiteSearchHit__description {
  font-size: 0.9rem;
}
.OnSiteSearchHit__meta {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
}
.OnSiteSearchHit__meta__tags {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.OnSiteSearchHit__meta__tags__icon {
  margin-right: 8px;
}
.OnSiteSearchHit__meta__tags__tag {
  margin-right: 4px;
}
.OnSiteSearchHit__meta__tags__tag::after {
  content: ',';
}
.OnSiteSearchHit__meta__tags__tag:last-of-type::after {
  content: '';
}

@media screen and (max-width: 600px) {
  .ais-InstantSearch__root {
    width: 100%;
  }

  .ais-SearchBox-input {
    width: 100%;
  }

  .ais-Panel {
    max-width: 100%;
  }
}
